<html>
  {% extends 'base.html' %} {% block title %} Home {% endblock %} 
  {% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    .button {
      background-color: #4caf50;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;
    }
 </style>
  <script>
    $(document).ready(function() {
      var user = " {{ user.username }} ";

      var settings = {
        async: true,
        crossDomain: true,
        url: "/getEmployeeData",
        method: "POST",
        headers: {
          "content-type": "application/json"
        },
        processData: false,
        data: `{\"id\":"${user}"}`
      };

      $.ajax(settings).done(function(response) {
        $("#department").val(response[0]["department"]),
          $("#phone").val(response[0]["phone"]),
          $("#address").val(response[0]["address"]);
      });

      $("#submitbtn").click(function() {
        var settings = {
          async: true,
          crossDomain: true,
          url: "/updateEmployeeData",
          method: "POST",
          headers: {
            "content-type": "application/json"
          },
          processData: false,
          data: `{
              "department": "${$("#department").val()}",
              "phone": "${$("#phone").val()}",
              "address": "${$("#address").val()}",
              "id":"${user}"
            }`
        };
        console.log(settings);

        $.ajax(settings).done(function(response) {
          console.log(response);
          alert(JSON.stringify(response));
        });
      });
    });
  </script>

  {% if user.is_authenticated %} Hi
  <b> {{ user.username }} </b>
  !
  <p>
    
  </p>
  <br />
  {% csrf_token %}

 

  <div class="container">
    <div class="form-group">
      <label for="department">Department:</label>
      <input
        type="text"
        class="form-control"
        id="department"
        name="department"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone :</label>
      <input type="text" class="form-control" id="phone" name="phone" />
    </div>
    <div class="form-group">
      <label for="address">Address :</label>
      <input type="text" class="form-control" id="address" name="address" />
    </div>
    <br />
    <div class="form-group">
      
        <a style="display: inline-block" class="button" href="{% url 'logout' %}">log out</a>
        <a class="button" href="{% url 'delete_account' %}">Delete Account</a>  
      <button
        id="submitbtn"
        style="color: white;font-size: 16px;display: inline-block;"
        id="submit"
        
      >
        Update
      </button>
      
    </div>
  </div>

  {% else %}
  <h1> Welcome to basic CRUD operation django app. </h1>
    <h3> Please register yourself to test the  app. </h3>
  <p>You are not logged in</p>
  
  <a class="button" href="{% url 'login' %}">login</a>
  <a style="display: inline-block;" class="button" href="/admin"> Admin </a>  
  <a class="button" href="{% url 'register' %}"> Register </a>
  {% endif %} {% endblock %}
</html>
